html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    line-height: 1;
}

$body-width: 960px;
$basic-padding: 20px;
$font-transition: font-size 0.5s cubic-bezier(.86,0,.07,1);

@font-face {
  font-family: "Open sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Scala";
  src: url("../fonts/scala/scala.otf");
}

@font-face {
  font-family: "Gothic";
  src: url("../fonts/trade-gothic-lt/trade-gothic-lt-std-bold.otf");
}


.extendfull {

	margin-right: -4000px;
	padding-right: 4000px;
	margin-left: -3000px;
	padding-left: 3000px;
}

body {
	display: flex;
	overflow-x: hidden;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: $body-width;
}

.masthead {
	height: 400px;
	width: 100vw;
	display:flex;
	overflow-x: visible;
	flex-direction: column;
	justify-content: center;
	background-image: url(../img/masthead/fruit-background-large.jpg);
	background-repeat: no-repeat;
	background-position: center top;
    background-size: cover;
    margin: 0;

	h1 {

		width: 50%;
		font-size: 36px;
		color: #fff;
		font-family: "Gothic";
		font-weight: bold;
		padding-bottom: $basic-padding;
		align-items: center;
		align-content: center;
		align-self: center;
		text-shadow: 1px 1px #000;
	}

	p {
		width: 50%;
		color: #fff;
		align-items: center;
		align-content: center;
		align-self: center;
		font-family: "Scala";
		line-height: 1.2;
		text-shadow: 0.8px 0.8px #000;
	}

}

.stats {

	display: flex;
	flex-direction: column;
	line-height: 1.3;

	.start-section {

		height: 15vh;
		display: flex;
		flex-wrap: nowrap;
	}

	h2 {

		font-family: "Gothic";
		font-size: 36px;
		align-self: center;
		align-items: center;
		transition: opacity 1s linear;
		transition: transform 0.1s linear;
	}

	.usa {
		width: 400px;
		height: 250px;
		align-self: center;
		transition: opacity 3s linear;
		transition: transform 0.5s linear;
		transform: translateY(-20%);
		opacity: 0;
		padding-bottom: $basic-padding
	}

	.usa.revealed {
		transform: translateY(0);
		opacity: 1;
	}

	.h2-title { transform: translateX(-50%); opacity: 0;}
	.h2-title.revealed { transform: translateX(0); opacity: 1;}

	p {
		font-family: "Scala";
	}

	.bigger {

		transition: $font-transition;
	}

	.bigger:hover {

		font-size: 50px;
	}

	li {

		display: flex;
		flex-direction: row;

		div {
			display: flex;
		}

		.teaser-text {
			flex-grow: 3;
			flex-basis: 576px;
			align-items: center;
		}

		.teaser-image {
			flex-grow: 2;
			flex-basis: 384px;
			align-items: center;
			align-content: center;
		}
	}

	li:nth-of-type(odd) {

		background-image: -moz-linear-gradient(left bottom, rgb(110,215,255) 0%, rgb(132,216,255) 42%,rgb(110,215,255) 75%);
 		background-color:rgb(110,215,255);
 		filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=rgb(110,215,255), endColorstr=rgb(132,216,255));
 		background-image:-moz-linear-gradient(top, rgb(110,215,255) 0%, rgb(132,216,255) 42%,rgb(110,215,255) 75%);
		background-image:linear-gradient(top, rgb(110,215,255) 0%, rgb(132,216,255) 42%,rgb(110,215,255) 75%);
		background-image:-webkit-linear-gradient(top, rgb(110,215,255) 0%, rgb(132,216,255) 42%,rgb(110,215,255) 75%);
		background-image:-o-linear-gradient(top, rgb(110,215,255) 0%, rgb(132,216,255) 42%,rgb(110,215,255) 75%);
		background-image:-ms-linear-gradient(top, rgb(110,215,255) 0%, rgb(132,216,255) 42%,rgb(110,215,255) 75%);
	}

	.stat-section {

		height: 35vh;
		max-height: 100%;
		display: flex;
		flex-wrap: nowrap;
		padding-top: $basic-padding/2;
		padding-bottom: $basic-padding/2;

		img {

			max-height: 100%;
		}

		p {

			padding-left: $basic-padding/2;
		}

		.small {

			font-size: 9px;
		}

		.transform-active {

			transform: scale(1.2,1.2);
		}

		.obese {

			transition: all 0.5s linear;
			width: auto;
			object-fit: contain; //For chrome
			height: 60%;
		}

		.obese.revealed {

			width: auto;
			object-fit: contain; //For chrome
			height: 80%;
		}

		.obese-bigger.revealed {
			font-size: 50px;
			transition: all 0.5s linear;
			transition: $font-transition;
		}

		.diabetes-bigger, .pressure-bigger, .bigger {

			transition: $font-transition;
		}

		.diabetes-bigger.revealed, .pressure-bigger.revealed, .bigger.revealed {

			font-size: 50px;
			transition: $font-transition;
		}

		.diabetes {

			transition: all 0.5s linear 0.5s;
			object-fit: contain; //For chrome
			width: auto;
			max-width: 60%;
			height: 60%;
		}

		.diabetes.revealed {
			width: auto;
			max-width: 80%;
			object-fit: contain; //For chrome
			height: 80%;
			transition: all 0.5s linear 0.5s;
		}

		.conjurer1, .conjurer2 {

			position: absolute;
			align-self: center;
			transition: all 0.7s linear 0.5s;

		}

		.conjurer1.revealed {

			transform: rotate(-45deg) translateX(-50px) translateY(-20px);
			transform-origin: 50%;

		}

		.conjurer2.revealed {

			transform: rotate(45deg) translateX(50px) translateY(-20px);
			transform-origin: 50%;

		}

		.underline {

		transition: all ease-in-out 1.5s;
		border-bottom: 1px solid transparent;
		line-height: 1.5;

		}

		.underline.revealed {

			border-bottom: 1px solid black;
			font-size: 24px;
			transition: all ease-in-out 1.5s;

		}

	}
}

@media (max-width:960px) {

.masthead {
	background-image: url(../img/masthead/fruit-background-m.jpg);

}

}

@media (max-width:700px) {

.masthead {
	background-image: url(../img/masthead/fruit-background-s.jpg);

	h1 {

		width: 70%;
	}

	p {

		width: 70%;
	}

}

}

@media (max-width:450px) {

.masthead {
	background-image: url(../img/masthead/fruit-background-xs.jpg);

	h1 {

		width: 70%;
	}

	p {
		width: 70%;
	}

}

}