html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    line-height: 1;
}

$body-width: 960px;
$basic-padding: 20px;
$font-transition: font-size 0.5s cubic-bezier(.86,0,.07,1);

@font-face {
  font-family: "Open sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Scala";
  src: url("../fonts/scala/scala.otf");
}

@font-face {
  font-family: "Gothic";
  src: url("../fonts/trade-gothic-lt/trade-gothic-lt-std-bold.otf");
}


.extendfull {

	margin-right: -4000px;
	padding-right: 4000px;
	margin-left: -3000px;
	padding-left: 3000px;
}

body {
	display: flex;
	overflow-x: hidden;
	flex-direction: column;
	overflow-x: hidden;
}

main {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: $body-width;
}

p {
	font-family: "Scala";
}

.masthead {
	height: 400px;
	width: 100vw;
	display:flex;
	overflow-x: visible;
	flex-direction: column;
	justify-content: center;
	background-image: url(../img/masthead/fruit-background-large.jpg);
	background-repeat: no-repeat;
	background-position: center top;
    background-size: cover;
    margin: 0;

    div {

    	width: 50%;
    	align-items: center;
		align-content: center;
		align-self: center;
		display: flex;
		justify-content: center;

    }

	h1 {

		font-size: 36px;
		color: #fff;
		font-family: "Gothic", sans-serif;
		font-weight: bold;
		padding-bottom: $basic-padding;
		text-shadow: 1px 1px #000;
	}

	p {
		color: #fff;
		align-items: center;
		align-content: center;
		align-self: center;
		line-height: 1.2;
		text-shadow: 0.8px 0.8px #000;
	}

}

.stats {

	display: flex;
	flex-direction: column;
	line-height: 1.3;

	.start-section {

		height: 15vh;
		display: flex;
		flex-wrap: nowrap;
	}

	h2 {

		font-family: "Gothic", sans-serif;
		font-size: 36px;
		align-self: center;
		align-items: center;
		transition: opacity 1s linear;
		transition: transform 0.1s linear;
	}

	.usa {
		width: 400px;
		height: 250px;
		align-self: center;
		transition: opacity 3s linear;
		transition: transform 0.5s linear;
		transform: translateY(-20%);
		opacity: 0;
		padding-bottom: $basic-padding
	}

	.usa.revealed {
		transform: translateY(0);
		opacity: 1;
	}

	.h2-title { transform: translateX(-50%); opacity: 0;}
	.h2-title.revealed { transform: translateX(0); opacity: 1;}

	p {
		font-family: "Scala";
	}

	.bigger {

		transition: $font-transition;
	}

	.bigger:hover {

		font-size: 50px;
	}

	li {

		display: flex;
		flex-direction: row;

		div {
			display: flex;
		}

		.teaser-text {
			flex-grow: 3;
			flex-basis: 576px;
			align-items: center;
		}

		.teaser-image {
			flex-grow: 2;
			flex-basis: 384px;
			align-items: center;
			align-content: center;
		}
	}

	li:nth-of-type(odd) {

		background-image: -moz-linear-gradient(left bottom, rgb(110,215,255) 0%, rgb(132,216,255) 42%,rgb(110,215,255) 75%);
 		background-color:rgb(110,215,255);
 		filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=rgb(110,215,255), endColorstr=rgb(132,216,255));
 		background-image:-moz-linear-gradient(top, rgb(110,215,255) 0%, rgb(132,216,255) 42%,rgb(110,215,255) 75%);
		background-image:linear-gradient(top, rgb(110,215,255) 0%, rgb(132,216,255) 42%,rgb(110,215,255) 75%);
		background-image:-webkit-linear-gradient(top, rgb(110,215,255) 0%, rgb(132,216,255) 42%,rgb(110,215,255) 75%);
		background-image:-o-linear-gradient(top, rgb(110,215,255) 0%, rgb(132,216,255) 42%,rgb(110,215,255) 75%);
		background-image:-ms-linear-gradient(top, rgb(110,215,255) 0%, rgb(132,216,255) 42%,rgb(110,215,255) 75%);
	}

		.stat-section {

		min-height: 35vh;
		max-height: 100%;
		display: flex;
		flex-wrap: nowrap;
		padding-top: $basic-padding/2;
		padding-bottom: $basic-padding/2;

		img {

			max-height: 100%;
		}

		p {

			padding-left: $basic-padding/2;
		}

		.small {

			font-size: 9px;
		}

		.obese {

			transition: all 0.5s linear 0.5s;
			width: auto;
			object-fit: contain; //For chrome
			height: 60%;
		}

		.obese.revealed {

			width: auto;
			transition: all 0.5s linear 0.5s;
			object-fit: contain; //For chrome
			height: 80%;
		}

		.obese-bigger.revealed {
			transition: all 0.5s linear;
			transition: $font-transition;
		}

		.diabetes-bigger, .pressure-bigger, .bigger {

			transition: $font-transition;
		}

		.diabetes-bigger.revealed, .pressure-bigger.revealed, .bigger.revealed, .obese-bigger.revealed {

			font-size: 50px;
			transition: $font-transition;
		}

		.diabetes {

			transition: all 0.5s linear 0.5s;
			object-fit: contain; //For chrome
			width: auto;
			max-width: 60%;
			height: 60%;
		}

		.diabetes.revealed {
			width: auto;
			max-width: 80%;
			object-fit: contain; //For chrome
			height: 80%;
			transition: all 0.5s linear 0.5s;
		}

		.conjurer1, .conjurer2 {

			position: absolute;
			align-self: center;
			transition: all 0.1s linear;

		}

		.conjurer1.revealed {

			transform: rotate(-45deg) translateX(-50px) translateY(-20px);
			transform-origin: 50%;
			transition: all 0.7s linear 0.5s;

		}

		.conjurer2.revealed {

			transform: rotate(45deg) translateX(50px) translateY(-20px);
			transform-origin: 50%;
			transition: all 0.7s linear 0.5s;

		}

		.underline {

		transition: all ease-in-out 0.75s;
		border-bottom: 1px solid transparent;
		line-height: 1.5;

		}

		.underline.revealed {

			border-bottom: 1px solid black;
			font-size: 24px;
			transition: all ease-in-out 0.75s;

		}
	}
}

.teaser-2 {

	display: flex;
	flex-direction: column;

	h2 {

		margin: 0 auto;
		font-family: "Gothic", sans-serif;
		transition: $font-transition;
		padding-bottom: $basic-padding*1.5;
	}

	h2.revealed {
		transition: $font-transition;
		font-size: 50px;
	}
}

.first-child, footer{

	border-top: 1px solid black;
}

.stat-section2 {

		display: flex;
		flex-wrap: nowrap;
		align-content: center;
		padding-bottom: $basic-padding;
		padding-top: $basic-padding;
		border-bottom: 1px solid black;

		.text-section {

			width: 50%;
			min-height: 200px;
			flex-basis: 576px;
			align-self: center;
		}

		.image-section {

			align-self: center;
			min-height: 200px;
			flex-basis: 384px;
		}

		h3 {

		font-family: "Gothic", sans-serif;
		padding-bottom: $basic-padding;
		font-size: 32px;
		align-self: center;

		}

		p {

			font-family: "Scala";
			align-self: center;
			line-height: 1.2;
		}

		h3, p {
			padding-left: $basic-padding/2;
		}

		.flex-order-low {

			order: 1;
		}

		.flex-order-high {
			order: 2;
		}

		.font-size {

		transition: all ease-in-out 0.75s;
		line-height: 1.5;

		}

		.font-size.revealed {

			font-size: 110%;
			transition: all ease-in-out 0.75s;
		}

}

a:visited {

	color: blue;
}

.bottom-text {

	padding: $basic-padding*1.5 0 $basic-padding*1.5 $basic-padding/2;
}

.sources {

	width: 100%;
	padding-left: $basic-padding/2;
	padding-bottom: $basic-padding;

	h3 {
		font-family: "Gothic", sans-serif;
		font-size: 26px;
		padding-bottom: $basic-padding;
	}

	p {
		padding-bottom: $basic-padding/2;
		font-size: 14px;
	}

}


#mid-content {

	padding: $basic-padding*1.5 $basic-padding/2 $basic-padding $basic-padding/2;
}

footer {

	padding-top: $basic-padding;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	padding-bottom: $basic-padding;

	div {
		display: flex;
		width: inherit;
		justify-content: inherit;
	}

	.footer-text {

		font-size: 11px;
		max-width: 90%;
	}

	.footer-text:first-of-type {

		padding-bottom: $basic-padding/2;

	}
}

@media (max-width:960px) {


.extendfull {

	margin-right: 0px;
	padding-right: 0px;
	margin-left: 0px;
	padding-left: 0px;
}

.masthead {
	background-image: url(../img/masthead/fruit-background-m.jpg);

	div {
		width: 70%;
	}

}

main {

	width: 100%;
}

.stats {

	li {

		.teaser-text {
			flex-basis: 60%;
			flex-grow: 1;
			flex-shrink: 2;
			display: flex;
			justify-content: center;
		}

		.teaser-image {
			flex-basis: 40%;
			flex-grow: 1;
			flex-shrink: 1;
		}
	}
}

}

@media (max-width:700px) {


.masthead {
	background-image: url(../img/masthead/fruit-background-s.jpg);

	h1, p, div {

		width: 70%;
	}

}

.stats {

	.usa {
		max-width: 100%;
		height: auto;
		object-fit: contain; //For chrome
		align-self: center;
		transition: opacity 3s linear;
		transition: transform 0.5s linear;
		transform: translateY(-20%);
		opacity: 0;
		padding-bottom: $basic-padding
	}

	.usa.revealed {
		transform: translateY(0);
		object-fit: contain; //For chrome
		opacity: 1;
	}

	.stat-section {

	flex-direction: column;
	min-height: 50vh;

		.obese {

			transition: all 0.5s linear 0.5s;
			width: auto;
			object-fit: contain; //For chrome
			height: 60%;
		}

		.obese.revealed {

			width: auto;
			transition: all 0.5s linear 0.5s;
			object-fit: contain; //For chrome
			height: 80%;
		}

		.obese-bigger.revealed {
			transition: all 0.5s linear;
			transition: $font-transition;
		}

		.diabetes-bigger, .pressure-bigger, .bigger {

			transition: $font-transition;
		}

		.diabetes-bigger.revealed, .pressure-bigger.revealed, .bigger.revealed, .obese-bigger.revealed {

			font-size: 32px;
			transition: $font-transition;
		}

		.conjurer1, .conjurer2 {

			position: absolute;
			align-self: center;
			height: 200px;
			transition: all 0.1s linear;
		}

	}

	li {

		.teaser-text {
			flex-basis: 100%;
			display: flex;
			justify-content: center;
			order: 2;
			flex-basis: 0px;
		}

		.teaser-image {
			flex-basis: 100%;
			order: 1;
			display: flex;
			justify-content: center;
			padding-bottom: 0;
		}
	}

}

.teaser-2 {

	h2.revealed {
		font-size: 32px;
	}
}

.first-child, footer{

	border-top: 1px solid black;
}

.stat-section2 {

		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: center;
		padding-bottom: $basic-padding;
		padding-top: $basic-padding;
		border-bottom: 1px solid black;

		.text-section {

			max-width: 100%;
			min-height: initial;
			align-content: center;
			order: 2;
			flex-basis: 0px;
			min-width: 70%
		}

		.image-section {

			align-items: center;
			min-height: initial;
			max-width: 100%;
			order: 1;
			flex-basis: 0px;
		}

		h3 {

		font-family: "Gothic", sans-serif;
		padding-bottom: $basic-padding;
		font-size: 32px;
		align-self: center;

		}

		p {

			font-family: "Scala";
			align-self: center;
		}

		h3, p {
			padding-left: $basic-padding/2;
		}
}

}

@media (max-width:450px) {

.masthead {
	background-image: url(../img/masthead/fruit-background-xs.jpg);

	h1 {

		width: 70%;
	}

	p {
		width: 70%;
	}

	div {

		width: 90%;
	}

}

.stats {

	.stat-section{

			.conjurer-padding {

			padding-top: 30px;
		}
	}

	li {

	.teaser-text {

		padding-bottom: $basic-padding*1.5;
		}
	}
}

.stat-section2 {

	.text-section {

		min-width: 80%;
	}
}

.sources {

	width: 95%;
}

}